
.list{
  background-color: transparent;
  text-decoration: rgb(0, 225, 255);
}

.navlist{
  display: inline-block;
  /* padding: 5px; */
  margin: auto;
  padding: 10px;
  color: rgb(33, 63, 90);
  font-weight: 1000;
}

.head{
  background-color: transparent;
  color: rgb(61, 46, 82);
  font-family:Algerian ;
  font-size: 50px;;
}

.navlist:hover{
  background-color: rgb(70, 107, 209);
  border-radius: 5px;
}